<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>FORM</h1>
    <form method="POST" action="/new">
      <label for="author">AUTHOR</label>
      <input type="text" name="author" id="author" />
      <label for="message">MESSAGE</label>
      <input type="text" name="message" id="message" />
      <button>SUBMIT</button>
    </form>
  </body>
</html>
