<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <a href="/new">GO TO FORM</a>
    <% for (let message of messages) { %>
    <p><%= message.text %></p>
    <p><%= message.user %></p>
    <p><%= message.added %></p>
    <% } %>
  </body>
</html>
